<h3>{{ list.myTitle }}</h3>
<div class="row" ng-show="list.errorMessage" class="error">
  <div class="col-12">
  Nothing found!
  </div>
</div>
<div class="row">
<ol>
  <div class="row" style="font:bold;">
  <div class="col-lg-2">Item Name
  </div>
  <div class="col-lg-2">Item Short Name
  </div>
  <div class="col-lg-6">Item Desc
  </div>
  <div class="col-lg-2">Remove
  </div>
  </div>
  <li ng-repeat="item in list.found">
    <div class="row" >
    <div class="col-lg-2">{{ item.name }}
    </div>
    <div class="col-lg-2">{{ item.short_name }}
    </div>
    <div class="col-lg-6">{{ item.description}}
    </div>
    <div class="col-lg-2">
    <button ng-show="list.displayList()" ng-click="list.onRemove({index: $index});">Don't want this one!</button>
    </div>
    </div>
  </li>
</ol>
</div>
</div>
